<%= require('@parts/header.ejs')({classHeader: 'header_white'}) %>

  <main class="innerpage" id="root">
        <section class="blog-page">
            <div class="container">
                <h2 class="blog-page__title">
                    Новости
                </h2>
                <div class="blog-page__row blog">
                    <div class="blog__item">
                        <a href="" class="blog__item-image">
                            <img src="<%=require('@img/blog-1.jpg') %>" alt="">
                        </a>
                        <a href="" class="blog__item-title">
                            Изменение коммерческой недвижимости следствие
                        </a>
                        <p class="blog__item-txt">
                            В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний компаний
                        </p>
                        <span class="blog__item-date">
                            21 января 2022
                        </span>
                    </div>
                    <div class="blog__item">
                        <a href="" class="blog__item-image">
                            <img src="<%=require('@img/blog-2.jpg') %>" alt="">
                        </a>
                        <a href="" class="blog__item-title">
                            Изменение коммерческой недвижимости следствие
                        </a>
                        <p class="blog__item-txt">
                            В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний компаний
                        </p>
                        <span class="blog__item-date">
                            21 января 2022
                        </span>
                    </div>
                    <div class="blog__item">
                        <a href="" class="blog__item-image">
                            <img src="<%=require('@img/blog-3.jpg') %>" alt="">
                        </a>
                        <a href="" class="blog__item-title">
                            Изменение коммерческой недвижимости следствие
                        </a>
                        <p class="blog__item-txt">
                            В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний компаний
                        </p>
                        <span class="blog__item-date">
                            21 января 2022
                        </span>
                    </div>
                    <div class="blog__item">
                        <a href="" class="blog__item-image">
                            <img src="<%=require('@img/blog-1.jpg') %>" alt="">
                        </a>
                        <a href="" class="blog__item-title">
                            Изменение коммерческой недвижимости следствие
                        </a>
                        <p class="blog__item-txt">
                            В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний компаний
                        </p>
                        <span class="blog__item-date">
                            21 января 2022
                        </span>
                    </div>
                    <div class="blog__item">
                        <a href="" class="blog__item-image">
                            <img src="<%=require('@img/blog-2.jpg') %>" alt="">
                        </a>
                        <a href="" class="blog__item-title">
                            Изменение коммерческой недвижимости следствие
                        </a>
                        <p class="blog__item-txt">
                            В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний компаний
                        </p>
                        <span class="blog__item-date">
                            21 января 2022
                        </span>
                    </div>
                    <div class="blog__item">
                        <a href="" class="blog__item-image">
                            <img src="<%=require('@img/blog-3.jpg') %>" alt="">
                        </a>
                        <a href="" class="blog__item-title">
                            Изменение коммерческой недвижимости следствие
                        </a>
                        <p class="blog__item-txt">
                            В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний компаний
                        </p>
                        <span class="blog__item-date">
                            21 января 2022
                        </span>
                    </div>
                </div>
            </div>
        </section>
  </main>

  <%= require('@parts/footer.ejs')() %>