<%= require('@parts/header.ejs')({classHeader: 'header_white'}) %>

  <main class="innerpage" id="root">
        <section class="gallery-page">
            <div class="container">
                <h2 class="gallery-page__title">
                    Фотоотчет 2021
                </h2>
                <div class="gallery-page__row">
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                    <div class="gallery-page__item-wrapper">
                        <a href="<%=require('@img/gallery-page-1.jpg') %>" class="gallery-page__item" data-fancybox="gallery">
                            <img src="<%=require('@img/gallery-page-1.jpg') %>" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
  </main>

  <%= require('@parts/footer.ejs')() %>